<div class="menu-btn" (click)="menuOpen = !menuOpen">
  <i class="fa-solid fa-bars fa-2xl"></i>
</div>
<nav [class.menu-open]="menuOpen">
  <ul class="link-list" [class.menu-open]="menuOpen">
    <li
      *ngFor="let link of linkList"
      class="link-item"
      [class.menu-open]="menuOpen"
    >
      <a [href]="link.url" class="link">{{ link.label }}</a>
    </li>
    <!-- <li class="link-item">
      <a href="#" class="link"> Home </a>
    </li>
    <li class="link-item">
      <a href="#" class="link"> About Me </a>
    </li>
    <li class="link-item">
      <a href="#" class="link"> My Projects </a>
    </li>
    <li class="link-item">
      <a href="#" class="link"> Contact Me </a>
    </li> -->
  </ul>
</nav>
