@import "colors";
@import "animations";

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1.5rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;

  &.menu-open {
    visibility: visible;
  }

  .link-list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: $background-color;
    list-style-type: none;
    padding-right: 1rem;
    transform: translateY(-100%);
    @include transition-ease;

    &.menu-open {
      transform: translateY(0);
    }

    .link-item {
      transform: translateX(100vw);
      @include transition-ease;

      &.menu-open {
        transform: translateX(0);
      }

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          transition-delay: ($i * 0.1s) + 0.15s;
        }
      }

      .link {
        display: inline-block;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 2rem 0;
        font-weight: 300;
        // @include transition-ease;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}
