.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: transparent;

  .menu-btn {
    position: absolute;
    right: 1em;
  }
}

mat-sidenav-content {
  background: linear-gradient(to right, rgba(#272727, 0.9), rgba(#272727, 0.3)),
    url("/assets/images/daniel-3.jpg") center;
  background-size: cover;
}
