<div class="about">
  <div class="bio-and-image">
    <div class="bio">
      <h2>BIO</h2>
      <p>I'm a Data Engineer & Full-Stack Developer.</p>
      <p>
        I started my professional life as a Mechanical Engineer and I even got a
        PhD in Computational Mechanics (that's when I first fell in love with
        coding).
      </p>
      <p>
        Now I have over 6 years of experience in all the stages of the web
        development cycle.
      </p>
    </div>
  </div>

  <div class="jobs-list">
    <div class="job-item">
      <h2>Jun 2021 - Oct 2022</h2>
      <h3>Valuechecker</h3>
      <h4>Team Lead Full-Stack Developer</h4>
      <ul>
        <li>
          Maintained and developed a RESTful API serving live data to clients
          across Europe.
        </li>
        <li>
          Developed a micro-service hosted in GCP Cloud Run to handle payments
          transactions with a 3rd party provider.
        </li>
        <li>
          Improved the CI/CD pipeline for API deployments achieving no downtime
          deployments, thus allowing faster development.
        </li>
        <li>
          Received praise for taking ownership of the Backend development and
          getting involved with Frontend and DevOps.
        </li>
        <li>
          Stepped up to fill a missing Front-End position to maintain and
          further develop the main Web App.
        </li>
        <li>
          Got promoted to Team Lead Full-Stack Developer after two months.
        </li>
      </ul>
    </div>
    <div class="job-item">
      <h2>Sep 2020 - Jun 2021</h2>
      <h3>Wondersign</h3>
      <h4>Data Engineer</h4>
      <ul>
        <li>
          Maintained and improved an ETL data pipeline for the import,
          normalization, and loading of data feeds from partners.
        </li>
        <li>
          Implemented and maintained a product data scraping project to complete
          and augment the data feeds, increasing data quality by up to 25%.
        </li>
        <li>
          Implemented a MongoDB instance as a Data Lake as the first step in the
          ETL to simplify the data load, reducing unnecessary manual steps in
          the existing procedures and thus reducing the needed time for
          completion by up to 50%.
        </li>
      </ul>
    </div>
    <div class="job-item">
      <h2>Apr 2016 - Aug 2020</h2>
      <h3>GIAC</h3>
      <h4>CAE Engineer</h4>
      <ul>
        <li>
          Designed and implemented Python scripts and tools to support the main
          modeling and simulation tasks, automating manual parts of the process
          saving up to 2hr per day for me and other colleagues.
        </li>
        <li>
          Created and maintained a data pipeline for computational simulations
          to provide easier and faster loading, monitoring, and visualization of
          CFD results, reducing the total time needed for completion of
          simulation projects by up to 20%.
        </li>
      </ul>
    </div>
  </div>
</div>
