/* You can add global styles to this file, and also import other style files */

:root {
    --background-color: #303030;
    --primary-color: #e91e63;
    --accent-color: #b0bec5;
    --warn-color: #f44336;
}

html, body { height: 100%; }

body {
    margin: 0;
    font-family: Roboto,
    "Helvetica Neue", sans-serif;
    background-color: var(--background-color);
}
