<div *ngIf="projectObj" class="project-item">
  <div class="project-title">{{ projectObj.title }}</div>
  <img [src]="projectObj.imageObj.src" [alt]="projectObj.imageObj.alt" />
  <div class="links">
    <div class="columns">
      <div *ngFor="let linkObj of projectObj.linkObjs" class="column">
        <a [href]="linkObj.url" class="link">
          <i [class]="iconClasses[linkObj.icon]"></i> {{ linkObj.label }}
        </a>
      </div>
    </div>
    <div *ngIf="projectObj.imageObj.attributionUrl" class="image-attribution">
      <a [href]="projectObj.imageObj.attributionUrl" class="link">
        <i class="fa-solid fa-image"></i>
        {{ projectObj.imageObj.attributionLabel }}
      </a>
    </div>
  </div>
</div>
