@import "colors";
@import "animations";

.project-item {
  position: relative;
  border-bottom: 5px solid $secondary-color;
  overflow: hidden;
  cursor: pointer;

  .project-title {
    width: 100%;
    border-top: 2px solid $secondary-color;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding: 0.4em 0;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    @include transition-ease;
  }

  img {
    width: 100%;
  }

  .links {
    display: flex;
    flex-direction: column;

    .columns {
      position: absolute;
      top: 0;
      height: 90%;
      width: 100%;
      z-index: -1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      text-align: center;

      .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
      }
    }

    .link {
      padding: 1em;
      color: $background-color;
      opacity: 0;
      visibility: hidden;
      @include transition-ease;
    }

    .image-attribution {
      position: absolute;
      height: 10%;
      bottom: 0;
      font-size: 0.6em;
      z-index: 1;
      align-self: flex-end;
      display: flex;
      align-items: flex-end;

      .link {
        flex-direction: row;

        i {
          margin-right: 0.2em;
        }
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: $secondary-color;
    opacity: 0;
    visibility: hidden;
    @include transition-ease;
  }

  &:hover {
    &::after {
      top: 0;
      opacity: 0.9;
      visibility: visible;
    }

    .project-title {
      color: $background-color;
      transition-delay: 0.2s;
    }

    .links {
      .columns {
        z-index: 1;
      }

      .link {
        opacity: 1;
        visibility: visible;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
