<header>
  <app-navbar></app-navbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="social-icons">
    <a href="#!">
      <i class="fab fa-twitter fa-2x"></i>
    </a>
    <a href="#!">
      <i class="fab fa-facebook fa-2x"></i>
    </a>
    <a href="#!">
      <i class="fab fa-instagram fa-2x"></i>
    </a>
    <a href="#!">
      <i class="fab fa-github fa-2x"></i>
    </a>
  </div>
  <div class="copyright">
    <span>&copy; Copyright 2022</span>
  </div>
</footer>
