<header>
  <app-navbar></app-navbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="social-icons">
    <a href="https://www.instagram.com/dancab.ok/">
      <i class="fab fa-instagram fa-2x"></i>
    </a>
    <a href="https://stackoverflow.com/users/7655151/dancab">
      <i class="fab fa-stack-overflow fa-2x"></i>
    </a>
    <a href="https://github.com/danielcaballero88">
      <i class="fab fa-github fa-2x"></i>
    </a>
    <a href="https://dev.to/danielcaballero88">
      <i class="fa-brands fa-dev fa-2x"></i>
    </a>
  </div>
  <div class="copyright">
    <span>&copy; Copyright 2022</span>
  </div>
</footer>
