@import "colors";
@import "animations";
@import "responsive";

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;

  @include media-md {
    position: absolute;
  }
}

main {
  height: 100%;
  width: 100%;
}

footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0rem;
  padding: 1rem;

  .social-icons {
    a {
      padding: 0.4rem;
      @include transition-ease;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  .copyright {
    font-size: 1rem;
    text-align: right;
    color: $primary-color;
  }
}
