@import "colors";
@import "responsive";

.contact {
  height: 100%;
  min-height: calc(100 * var(--vh));
  padding-top: calc(35 * var(--vh));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background: linear-gradient(
      to right,
      rgba($background-color, 0.7),
      rgba($background-color, 0.3)
    ),
    url("/assets/images/daniel.jpg") center;
  background-size: cover;

  h2 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }

  .contact-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    font-size: 1.5em;

    .contact-item {
      display: flex;
      flex-direction: column;

      .value {
        color: $secondary-color;
      }
    }
  }

  @include media-md {
    .contact-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include media-lg {
    .contact-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
