<div class="contact">
  <h2>Contact Me:</h2>
  <div class="contact-list">
    <a href="mailto:danielcaballero88@gmail.com" target="_blank">
      <div class="contact-item">
        <div class="icon-label">
          <i class="fas fa-envelope"></i>
          <span class="label"> Email</span>
        </div>
        <span class="value">danielcaballero88@gmail.com</span>
      </div>
    </a>

    <a href="https://telegram.me/danielcaballero88" target="_blank">
      <div class="contact-item">
        <div class="icon-label">
          <i class="fa-brands fa-telegram"></i>
          <span class="label"> Telegram</span>
        </div>
        <span class="value">@danielcaballero88</span>
      </div>
    </a>

    <a href="https://github.com/danielcaballero88" target="_blank">
      <div class="contact-item">
        <div class="icon-label">
          <i class="fa-brands fa-github"></i>
          <span class="label"> Github</span>
        </div>
        <span class="value">/danielcaballero88</span>
      </div>
    </a>
  </div>
</div>
