@import "colors";
@import "animations";

.social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;

  a {
    padding: 0.4rem;
    @include transition-ease;

    &:hover {
      color: $secondary-color;
    }
  }
}
