@media only screen and (max-device-width: 480px) {
    html {
        font-size: 2em;
    }

    .portfolio-grid {
        width: 70vw;
        grid-template-columns: 1fr;
    }

    .columns-container {
        flex-direction: column;
        align-items: center;
    }

    .column {
        width: 80%;
        max-width: unset;
        margin-bottom: 1em;
    }

}