@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    --dark-gray:  rgb(51, 51, 51);
    --darkish-gray: rgb(59, 59, 59);
    --whiteish: #faebd7;
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 1100px) {
    html {
        font-size: 0.8em;
    }
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: var(--whiteish);
    position: relative;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--dark-gray);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

#navbar-logo {
    height: 2.5em;
    width: 2.5em;
    margin-right: auto;
    margin-left: 0.5em;
    border-radius: 0.5em;
    background-color: var(--whiteish);
}

#navbar-logo:hover {
    opacity: 0.5;
}

#navbar ul {
    height: 3em;
    width: auto;
    min-width: 50vw;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

#navbar ul li {
    display: block;
    width: auto;
    margin: 0 0.5em;
}

#navbar ul li a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
}


#navbar ul li a:hover {
    background-color: var(--darkish-gray);
}

main {
    margin-top: 0;
}

section {
    height: auto;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 8em 0;
    position: relative;
}

h1 {
    margin-bottom: 1em;
}

section#welcome-section {
    background-color: rgb(44, 82, 97);
}

#welcome-section > p {
    font-size: 1.2em;
}

#me {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

#my-pic {
    width: 10em;
    border-radius: 40%;
}

#my-name {
    font-size: 3em;
    font-weight: bold;
    margin-left: 1em;
}

.item-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    height: 3.5em;
    width: 3.5em;
    margin-right: auto;
    margin-left: 0.5em;
    border-radius: 50%;
    background-color: var(--whiteish);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 70%;
}

.desc {
    display: flex;
    justify-items: flex-start;
    align-items: center;
    height: 4em;
}

.desc p {
    padding-left: 2em;
    font-size: 2em;
}

#contact-me {
    width: 80%;
    display: flex;
    flex-direction: column;;
    align-items: center;
}

#contact-me h2 {
    margin-bottom: 1em;
}


.row {
    flex-direction: row;
}

.transparent {
    background-color: transparent !important;
}

.go-arrow-div {
    display: block;
    width: 2em;
    height: 2em;
    position: absolute;
}

.go-arrow-div:hover {
    opacity: 0.7;
}

.go-arrow-div img {
    width:100%;
}

.go-down {
    bottom: 1em;
    background-image: url("../icons/png/down-arrow.png");
    background-size: contain
}

.go-up {
    top: 5em;
    background-image: url("../icons/png/up-arrow.png");
    background-size: contain;
}

section#skills-section {
    background-color: rgb(105, 61, 44);
}

.columns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    max-width: 800px;
}

.column {
    background-color: var(--whiteish);
    color: black;
    width: 23vw;
    max-width: 230px;
    height: auto;
    min-height: 40vh;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em 1em;
    text-align: center;
    font-size: 1.0em;
    margin: 0 0.2em;
}

.small-desc {
    height: auto;
    min-height: 40%;
}

.small-desc h2 {
    margin-bottom: 0.5em;
}

.skill-icon {
    margin: 0 auto;
}

.tools ul {
    list-style: none;
    padding: 0;
    height: 40%;
}


section#projects {
    background-color: rgb(47, 90, 47);
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-gap: 1em;
    width: 80vw;
    max-width: 800px;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    border-radius: 5%;
    overflow: hidden;
}

.portfolio-item-header {
    display: block;
    width: 100%;
    background-color: var(--dark-gray);
}

.project-title {
    font-size: 1em;
    color: var(--whiteish);
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
}

.portfolio-item-image {
    background-color: var(--darkish-gray);
}

.portfolio-item-image img {
    width: 90%;
    border-radius: 2%;
    display: block;
    margin: 1em auto;
}

a.link-in-div {
    display:block;
    width: 100%;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--dark-gray);
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 10;
    color: var(--whiteish)
}

footer a {
    text-decoration: none;
    color: inherit;
}

.img-in-div {
    width: 100%;
}