<div class="projects">
  <div class="image">
    <h1 class="title">My Projects</h1>
  </div>

  <div class="projects-list">
    <div class="project-item">
      <div class="project-title">How to Spin Up a VM in GCP</div>
      <img
        src="/assets/images/projects/gcp-vm.jpg"
        alt="Blog Note: How to Spin Up a VM in GCP"
      />
      <div class="links">
        <div class="columns">
          <div class="column">
            <a
              href="https://dev.to/danielcaballero88/how-to-spin-up-a-free-linux-virtual-machine-on-google-cloud-platform-1olj"
              class="link"
            >
              <i class="fa-brands fa-dev"></i> Read Post
            </a>
          </div>
        </div>
        <div class="image-attribution">
          <a
            href="https://www.vecteezy.com/free-vector/cloud-computing"
            class="link"
          >
            <i class="fa-solid fa-image"></i>
            Cloud Computing Vectors by Vecteezy
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
