@import "colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --app-height: 100vh;
  --vh: calc(var(--app-height) / 100);
  background-color: $background-color;
  color: $primary-color;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

app-root {
  position: relative;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: $primary-color;
  text-decoration: none;
}
