@import "colors";
@import "responsive";

.home {
  height: 100%;
  min-height: calc(100 * var(--vh));
  padding-top: calc(45 * var(--vh));
  overflow: hidden;
  align-items: center;
  text-align: center;

  background: linear-gradient(
      to right,
      rgba($background-color, 0.7),
      rgba($background-color, 0.3)
    ),
    url("/assets/images/daniel.jpg") center;
  background-size: cover;

  .salute {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }

  .name {
    font-size: 4rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #fff;

    .last-name {
      color: $secondary-color;
      font-weight: 700;
    }
  }

  .position {
    font-size: 1.5rem;
  }

  @include media-md {
    .name {
      font-size: 5rem;
    }
  }

  @include media-lg {
    .name {
      font-size: 6rem;
    }
  }

  @include media-xl {
    .name {
      font-size: 7rem;
    }
  }
}
